<div data-anijs="if: click .shake-slow, do: rollOut animated, to: .shake-slow, after: $removeAnim"></div>
<div class="section no-pad-bot magicStarterQBox" id="index-banner">

  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Prasnottar</h1>
    <div class="row center">
      <h5 class="header col s12 light">A place to put your query.</h5>
    </div>
    <div class="row center">
      <a routerLink="/prasna" class="btn-large waves-effect waves-light orange shake-slow">Get Started</a>
    </div>
    <br><br>

  </div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">person_pin</i></h2>
          <h5 class="center">Anybody Can Ask </h5>

          <p class="light">Anybody can ask any question that pops up in his or her mind. You are free. And we care about your freedom.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">mode_edit</i></h2>
          <h5 class="center">Anybody Can Answer</h5>

          <p class="light">There is no restriction on who can answer a question. If you see a post and think you can answer the question then
            you are free to answer.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy To Use</h5>

          <p class="light">We are also always open to feedback and can answer any questions a user may have about prasnottar.</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">

  </div>
</div>