<!-- Dropdown Structure -->

<nav>
	<div class="nav-wrapper">
		<ul class="left hide-on-med-and-down">
			<li><a href="#!">Prasnottar</a></li>
			<li><a routerLink="/prasna">Prasna</a></li>
			<li><a routerLink="/raktadan">Raktadan</a></li>
		</ul>
		<ul class="right hide-on-med-and-down" *ngIf="currentUser?.connected">

			<li class="dropdown notification">
				<a class="dropdown-button" href="#!" data-activates="dropdown2">
					<i class="material-icons">notifications</i>
				</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-button" href="#!" data-activates="dropdown1">
					<div class="chip">
						<img [src]="userImage" class="circle responsive-img" [alt]="currentUser?.name"> {{currentUser?.name}}
					</div>
				</a>
			</li>

		</ul>
		<ul class="right hide-on-med-and-down" *ngIf="!currentUser?.connected">

			<li><a href="#" routerLink="/login"><i class="fa fa-sign-in" ></i>  Login</a></li>

		</ul>

	</div>
</nav>


<!-- Menu Toggle Button -->

<ul id="dropdown2" class="dropdown-content collection">
	<li class="collection-item" *ngIf="(loggers | json) == '[]'"><span class="secondary-content">No Updated on your reputation</span></li>
	<li class="collection-item" *ngFor="let noti of loggers">

		<a [href]="noti?.pageLink" class="secondary-content" (click)="readNotification(noti?._id)">
			<div [innerHtml]="noti?.body"></div>
		</a>
	</li>
</ul>

<!-- user Toggle Button -->

<ul id="dropdown1" class="dropdown-content card">

	<div class="card-image">
		<img [src]="userImage">

		<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">power_settings_new</i></a>
	</div>
	<div class="card-content">
		<span class="card-title grey-text text-darken-4">{{currentUser?.name}}</span>
		<p style="color:black;">Reputation : {{currentUser?.reputation}}</p>
	</div>
</ul>