<div class="container">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <div class="card-panel hoverable" >
    <div class="col s12 m8 l8">
      <div class="card ">
        <div class="card-image">
          <img [src]="mainImage" class="materialboxed" width="650" style="height:300px;">
          <span class="card-title header lead">{{placePortFolio?.place}}</span>
        </div>
        <div class="card-content">
          <div class="card-panel">
           
          </div>
          <div class="card">
            <div class="card-content">

            </div>
          </div>

        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>

</div>