<div class="row">
  <div class="col s12 l12 m12">
    <p-tabView>
      <p-tabPanel header="Book">
        <app-exchange-book></app-exchange-book>
      </p-tabPanel>
      <p-tabPanel header="Header 2">
        Content 2
      </p-tabPanel>
      <p-tabPanel header="Header 3">
        Content 3
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>

<div class="section"></div>